.user-act-info-container {
    height: 50px;
    width: 100%
}
.user-avatar .next-avatar {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: inline;
}

.user-action {
    height: 50px;
    margin-left: 100px;
    float: left;
    display: inline;
    text-align: center;
    line-height: 50px;
}